#crop-dialog {
    overflow: hidden;
    position: relative;
    font-size: 0;
    padding: 8px 5px 2px;
    min-height: 150px;
}
#crop-dialog img {
    max-width: none;
}
#crop-dialog.preload {
    background: url('img/loading.gif') no-repeat 50% 50%;
}
#crop-dialog .jcrop-holder {
    background: url('img/transparent-background.png') repeat;
}