{% load stdimage %}

<div class="stdimage">
    <div class="item-preview {% if not value %}hide{% endif %}"
         style="width:{{ preview_size.0 }}px; height:{{ preview_size.1 }}px">
        {% with variation=value|variation:admin_variation_name %}
            <a target="_blank" href="{{ value.url }}"><img src="{{ variation.url }}{{ random }}"></a>
        {% endwith %}
    </div>

    {{input}}
    {% if crop_area %}
        <div class="crop-btn-wrapper {% if not value %}hide{% endif %}">
            <button class="btn"
                    data-aspects="{{ aspects }}"
                    data-source="{{ value.url }}"
                    data-min_dimensions="{{ min_dimensions|join:'x' }}"
                    data-max_dimensions="{{ max_dimensions|join:'x' }}">
                Выбрать область
            </button>
            <input type="hidden" name="{{ name }}-croparea" value="">
        </div>
    {% endif %}

    {% if value %}
        <div>
            <span>Удалить:</span>
            <input type="checkbox" name="{{ name }}-delete" class="delete"/>
        </div>
    {% endif %}
</div>
